*
{
    padding: 0;
    margin: 0;
}
.color
{
    background-color: rgb(255, 255, 255);
}
.container
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
.details
{
    /* border: 2px solid red; */
    /* margin: 30px 0px 0px 30px; */
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.details .info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid greenyellow; */
    text-align: center;
}
.details h1
{  
    color: blue;
}
.details .address
{
    color: rgb(28, 28, 29);
}
.details .contact
{
    color: rgb(28, 28, 29);
}
.details .photo
{
    border: 2px solid blue;
    width: 7%;
    position: relative;
    left: 130px;
    border-radius: 10px;
    text-align: center;
}

.education
{
    margin-bottom: 30px;
}
 h3
{
     /* text-decoration: underline; */
    /* margin: 30px 0px 0px 30px; */
    color: blue;
}
.line
{
    /* margin-left: 30px; */
    width: 100%;
    height: 2px;
    background-color: blue;
    margin-bottom: 10px;
}

.edu
{
    display: flex;
    justify-content: space-between;
}